.profile-container {
    width: 100%;
    max-width: 700px;
    padding: 0 30px;
    margin: 32px auto;
}

.profile-container header {
    margin-top: 10px;
}

.profile-container section h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.profile-container header {
    display: flex;
    align-items: center;
}

.profile-container header span {
    font-size: 20px;
    margin-left: 24px;
}

.profile-container header img {
    height: 64px;
}

.profile-container header a {
    position: absolute;
    width: 260px;
    margin-left: 547px;
    margin-top: 0;
    font-size: 20px;
}

.profile-container h1 {
    margin-top: 80px;
    margin-bottom: 24px;
}

.profile-container .container {
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 40px;
    background: #FFF;
    color: #41414d;
    border-radius: 8px;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
}

.profile-container .container p {
    margin-top: 8px;
    margin-bottom: 14px;
    color: #737380;
}

.profile-container .contact {
    padding-top: 50px;
    background: #FFF;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.profile-container .contact #speak {
    width: 340px;
    margin-left: 20%;
}

.profile-container .contact h2 {
    text-align: left;
    font-size: 30px;
    margin-bottom: 10px;
}

.profile-container .contact h3 {
    text-align: left;
    font-size: 22px;
    color: #737380;
}

.profile-container .contact button {
    border-radius: 18px;
    border: none;
    height: 80px;
    width: 30%;
    align-items: center;
    justify-content: center;
    background-color: #e02041;
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
    margin: 16px;
    transition: background-color 0.3s;
}

.profile-container .contact button:hover {
    opacity: 0.9;
}

.profile-container .contact .actions {
    margin-top: 16px;
}